.Rproj.user
.Rhistory
.RData
/figure/application.aux
/figure/application.log
/figure/application.nav
/figure/application.out
/figure/application.snm
/figure/application.synctex.gz
/figure/application.toc
/main.vrb
